<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166667469482-33b55aepe4s026tadg0ap7rtoug8gdh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166667469482-33b55aepe4s026tadg0ap7rtoug8gdh0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>166667469482-4p3ktm6kotdhsl9dc81qn108dpnvsbsp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPpwlp3gnK1uGSFS55vtj_ln89Nk4f6jg</string>
	<key>GCM_SENDER_ID</key>
	<string>166667469482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.sukoon</string>
	<key>PROJECT_ID</key>
	<string>awesomenoq</string>
	<key>STORAGE_BUCKET</key>
	<string>awesomenoq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166667469482:ios:24ca8919d84da0eee9c6d3</string>
	<key>DATABASE_URL</key>
	<string>https://awesomenoq.firebaseio.com</string>
</dict>
</plist>